In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset2  = pd.read_excel('Z://User/Documents/ArcGIS/scratch/data' + str(1993) + '.xls')

In [24]:
dataset2['year'] = 1993

In [29]:
2869 *2

5738

In [3]:
dataset = pd.DataFrame(np.zeros(1))
for i in range(1992,2018):
    if i == 1992:
        dataset =  pd.read_excel('Z://User/Documents/ArcGIS/scratch/data' + str(i) + '.xls')
        dataset['year'] = i
    else:
        data = pd.read_excel('Z://User/Documents/ArcGIS/scratch/data' + str(i) + '.xls')
        data['year'] = i
        dataset = pd.concat([dataset, data])

In [4]:
light_mean = dataset[['FID','MEAN','year']]

In [36]:
light_mean.to_excel('light_mean.xlsx',index=False)

In [18]:
capacity = pd.read_excel('Z://User/Documents/capacity2.xlsx')

In [20]:
capacity[capacity['year'] > 1991]

        FID  year  gbcode  total_capacity province
1         0  1992  341621               0
2         0  1993  341621               0
3         0  1994  341621               0
4         0  1995  341621               0
5         0  1996  341621               0
...     ...   ...     ...             ...      ...
81921  3150  2012  650204               0
81922  3150  2013  650204               0
81923  3150  2014  650204               0
81924  3150  2015  650204               0
81925  3150  2016  650204               0

[78775 rows x 5 columns]

In [23]:
dataset = light_mean.merge(capacity, how ='inner')

In [25]:
dataset.to_excel('dataset_7_22.xlsx', index=False)

In [28]:
# 如果当年当地有发电厂，则取值为1
dataset['light_dummy'] = dataset['total_capacity'] >0

TypeError: cannot convert the series to <class 'int'>

In [31]:
dataset.to_excel('dataset_dummy_7_22.xlsx', index=False)