In [ ]:
# Function: Create Pollution Dataset merged with generator data
# Date 2021-7-25
# Writer: Mingyi Li
# Output Dataset: pollution_dataset7_25.xlsx

In [2]:
import pandas as pd
import numpy as np

In [6]:
# 读入数据集，由于数据集中重复交替出现半角括号与全角括号，我们在读入时，采用try-except考虑这种差异。
def read_file(file_path):
    try:
        res = pd.read_excel(file_path,usecols=['统计年份','行政区代码','工业废气排放总量（万标立方米）','二氧化硫排放量(千克)'])

    except:
        res = pd.read_excel(file_path,usecols=['统计年份','行政区代码','工业废气排放总量（万标立方米）','二氧化硫排放量（千克）'])
    return res

In [15]:
# pollution_demo = pd.read_excel(r'Z:/User/Documents/pollution/企业污染1998.xlsx',usecols=['统计年份','行政区代码','工业废气排放总量（万标立方米）','二氧化硫排放量(千克)'])

In [20]:
# res = pollution_demo.merge(location_codes, left_on = '行政区代码',right_on='code', how ='inner')

In [7]:

# Using SO2 emission as the symble of pollution
def get_so2(df):
    try:
        df = df.groupby(['统计年份','行政区代码'])['二氧化硫排放量(千克)'].sum()
    except:
        df = df.groupby(['统计年份','行政区代码'])['二氧化硫排放量（千克）'].sum()
        
    return df.reset_index()

In [9]:
# Initialize dataset, using "dataset" to contain final dataset we merged
dataset = pd.DataFrame(np.zeros(1))
for i in range(1998,2011):
    print('starting to handle pollution in year'+ str(i)+'\n')
    file_path = 'Z://User/Documents/pollution/企业污染' + str(i) + '.xlsx'
    if i == 1998:
        dataset = read_file(file_path)
        dataset = get_so2(dataset)
    else:
        
        data = read_file(file_path)
        data = get_so2(data)
        # vertically concatenate dataset
        dataset = pd.concat([dataset, data])
    print('year'+ str(i)+' is haddled.\n')

starting to handle pollution in year1998

year1998 is haddled.

starting to handle pollution in year1999

year1999 is haddled.

starting to handle pollution in year2000

year2000 is haddled.

starting to handle pollution in year2001

year2001 is haddled.

starting to handle pollution in year2002

year2002 is haddled.

starting to handle pollution in year2003

year2003 is haddled.

starting to handle pollution in year2004

year2004 is haddled.

starting to handle pollution in year2005

year2005 is haddled.

starting to handle pollution in year2006

year2006 is haddled.

starting to handle pollution in year2007

year2007 is haddled.

starting to handle pollution in year2008

year2008 is haddled.

starting to handle pollution in year2009

year2009 is haddled.

starting to handle pollution in year2010

year2010 is haddled.

In [11]:
dataset['二氧化硫排放量(千克)'] = dataset['二氧化硫排放量(千克)'].combine_first(dataset['二氧化硫排放量（千克）'])

In [12]:
dataset = dataset.drop('二氧化硫排放量（千克）',axis = 1)

In [14]:
# No duplicates in dataset yet
dataset.drop_duplicates()

      统计年份   行政区代码  二氧化硫排放量(千克)
0     1998  130102   33550705.0
1     1998  130103    1355695.0
2     1998  130104    1612120.0
3     1998  130105    1856294.0
4     1998  130106     449604.0
...    ...     ...          ...
2907  2010  655021      71000.0
2908  2010  655022     328000.0
2909  2010  655023    1083000.0
2910  2010  655024      57000.0
2911  2010  659001    5642247.0

[37540 rows x 3 columns]

In [8]:
# Because dataset between 2011 and 2014 has different features compared with before, we handle them seperately

In [15]:
data2011 = pd.read_excel(r'Z:/User/Documents/pollution/企业污染2011.xlsx',usecols=['统计年份','行政区划代码','二氧化硫排放量吨'])
data2011 = data2011.rename({'行政区划代码':'行政区代码'},axis=1)

In [16]:
data2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153027 entries, 0 to 153026
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   行政区代码     153027 non-null  int64
 1   统计年份      153027 non-null  int64
 2   二氧化硫排放量吨  106959 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 3.5 MB

In [18]:
data2011['二氧化硫排放量(千克)'] = data2011['二氧化硫排放量吨'] * 1000
data2011 = data2011.reindex(['统计年份','行政区代码','二氧化硫排放量(千克)'],axis = 1)
data2011_so2 = data2011.groupby(['统计年份','行政区代码'])['二氧化硫排放量(千克)'].sum().reset_index()

In [24]:
dataset = pd.concat([dataset,data2011_so2])

In [17]:
###  DATA IN 2012
data2012 = pd.read_excel(r'Z:/User/Documents/pollution/企业污染2012.xlsx',usecols=['统计年份','行政区划代码','工业废气二氧化硫排放量（吨）'])
data2012 = data2012.rename({'行政区划代码':'行政区代码'},axis=1)

In [26]:
data2012['二氧化硫排放量(千克)'] = data2012['工业废气二氧化硫排放量（吨）'] * 1000
data2012 = data2012.reindex(['统计年份','行政区代码','二氧化硫排放量(千克)'],axis = 1)
data2012_so2 = data2012.groupby(['统计年份','行政区代码'])['二氧化硫排放量(千克)'].sum().reset_index()

In [29]:
dataset = pd.concat([dataset,data2012_so2])

In [32]:
data2013 = pd.read_stata(r'Z:/User/Documents/pollution/企业污染2013.dta')
data2013 = data2013.reindex(['行政区划代码','统计年份','二氧化硫排放量吨'],axis=1)
data2013 = data2013.rename({'行政区划代码':'行政区代码'},axis=1)

In [34]:
data2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 147657 entries, 0 to 147656
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   行政区代码     147657 non-null  object
 1   统计年份      147657 non-null  object
 2   二氧化硫排放量吨  147657 non-null  object
dtypes: object(3)
memory usage: 4.5+ MB

In [35]:
data2013['二氧化硫排放量吨'] = data2013['二氧化硫排放量吨'].replace('',np.nan)
data2013['二氧化硫排放量吨'] = data2013['二氧化硫排放量吨'].astype('float')

In [37]:
data2013['二氧化硫排放量(千克)'] = data2013['二氧化硫排放量吨'] * 1000
data2013 = data2013.reindex(['统计年份','行政区代码','二氧化硫排放量(千克)'],axis = 1)
data2013_so2 = data2013.groupby(['统计年份','行政区代码'])['二氧化硫排放量(千克)'].sum().reset_index()

In [41]:
data2013_so2

      统计年份   行政区代码  二氧化硫排放量(千克)
0     2013  110101       1477.0
1     2013  110102      45647.0
2     2013  110105    4513045.0
3     2013  110106    2806041.0
4     2013  110107   14029290.0
...    ...     ...          ...
3157  2013  661402     318708.0
3158  2013  661403      56160.0
3159  2013  661404      27456.0
3160  2013  661501     163200.0
3161  2013  661502     160012.0

[3162 rows x 3 columns]

In [42]:
dataset = pd.concat([dataset,data2013_so2])

In [43]:
data2014 = pd.read_excel(r'Z:/User/Documents/pollution/企业污染2014.xlsx')

In [44]:
data2014 = data2014.rename({'行政区划代码':'行政区代码'},axis=1)

In [45]:
data2014 = data2014.reindex(['行政区代码','统计年份','二氧化硫排放量吨'],axis=1)

In [49]:
data2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154630 entries, 0 to 154629
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   行政区代码     154630 non-null  object
 1   统计年份      154630 non-null  object
 2   二氧化硫排放量吨  103448 non-null  object
dtypes: object(3)
memory usage: 3.5+ MB

In [68]:
# def check_code(s):
#     return s in LOCATION_CODE['code'].values

In [202]:
data2014[data2014['二氧化硫排放量吨'] =='中成药生产']

        行政区代码  统计年份 二氧化硫排放量吨
67109  430761  2014    中成药生产

In [207]:
tmp[tmp['二氧化硫排放量吨'] =='阜新六和农牧有限公司食品分公司']

        行政区代码  统计年份         二氧化硫排放量吨
93133  210904  2014  阜新六和农牧有限公司食品分公司

In [71]:
tmp = data2014
tmp = tmp.drop(67109)
tmp = tmp.drop(93133)

In [72]:
tmp['二氧化硫排放量吨'] = tmp['二氧化硫排放量吨'].astype('float')

In [76]:
data2014 = tmp

In [77]:

data2014['二氧化硫排放量(千克)'] = data2014['二氧化硫排放量吨'] * 1000
data2014 = data2014.reindex(['统计年份','行政区代码','二氧化硫排放量(千克)'],axis = 1)

In [102]:
import re
def check_num(s):
    pattern = '[^0-9].+'
    pattern = re.compile(pattern)
    res = pattern.search(s)
    if res is None:
        return True
    return False

In [105]:
s = '12s3'

In [109]:
data2014['统计年份'].unique()

array([2014, '蔬菜加工', '水泥制造', '热力生产和供应'], dtype=object)

In [106]:
check_num(s)

False

In [114]:
data2014 = data2014[data2014['统计年份'].astype('str').apply(check_num)]

In [117]:
data2014_so2 = data2014.groupby(['统计年份','行政区代码'])['二氧化硫排放量(千克)'].sum().reset_index()

In [120]:
dataset = pd.concat([dataset,data2014_so2])

In [253]:
dataset

      统计年份   行政区代码  二氧化硫排放量(千克)
0     1998  130102  3.35507e+07
1     1998  130103   1.3557e+06
2     1998  130104  1.61212e+06
3     1998  130105  1.85629e+06
4     1998  130106       449604
...    ...     ...          ...
3166  2014  661402       287182
3167  2014  661403        56160
3168  2014  661404        27456
3169  2014  661501       347440
3170  2014  661502       407791

[50152 rows x 3 columns]

In [254]:
dataset.to_excel('pollution.xlsx')

In [146]:
dataset  = pd.read_excel(r'Z:/User/Documents/pollution.xlsx', index_col=0)

In [136]:
capacity = pd.read_excel(r'Z:/User/Documents/capacity3.xlsx', index_col = 0)

In [137]:
capacity

        year  total_capacity  province
gbcode
110101  1991               0
110101  1992               0
110101  1993               0
110101  1994               0
110101  1995               0
...      ...             ...       ...
659004  2012            2880  Xinjiang
659004  2013            2880  Xinjiang
659004  2014            5080  Xinjiang
659004  2015            7280  Xinjiang
659004  2016            7280  Xinjiang

[74672 rows x 3 columns]

In [148]:
dataset.drop_duplicates()

      统计年份   行政区代码  二氧化硫排放量(千克)
0     1998  130102   33550705.0
1     1998  130103    1355695.0
2     1998  130104    1612120.0
3     1998  130105    1856294.0
4     1998  130106     449604.0
...    ...     ...          ...
3166  2014  661402     287182.0
3167  2014  661403      56160.0
3168  2014  661404      27456.0
3169  2014  661501     347440.0
3170  2014  661502     407791.0

[50152 rows x 3 columns]

In [149]:
dataset2 = capacity.merge(dataset, left_on=['year', 'gbcode'],right_on=['统计年份','行政区代码'])

In [150]:
dataset2

       year  total_capacity  province  统计年份   行政区代码  二氧化硫排放量(千克)
0      1999               0            1999  110101     639696.0
1      2000               0            2000  110101    2042361.0
2      2001               0            2001  110101      40594.0
3      2002               0            2002  110101      18246.0
4      2004               0            2004  110101       4742.0
...     ...             ...       ...   ...     ...          ...
42405  2006             270  Xinjiang  2006  659001    4446347.0
42406  2007             810  Xinjiang  2007  659001    5114438.0
42407  2008            1580  Xinjiang  2008  659001    4402624.0
42408  2009            1580  Xinjiang  2009  659001    4333340.0
42409  2010            2180  Xinjiang  2010  659001    5642247.0

[42410 rows x 6 columns]

In [154]:
res = dataset2.reindex(['year','行政区代码','total_capacity','二氧化硫排放量(千克)'], axis=1)

In [159]:
res['lnso2'] = np.log(res['二氧化硫排放量(千克)'] + 1)

In [160]:
res.to_excel('pollution_dataset7_25.xlsx', index=False)

In [158]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42410 entries, 0 to 42409
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            42410 non-null  int64
 1   行政区代码           42410 non-null  int64
 2   total_capacity  42410 non-null  int64
 3   二氧化硫排放量(千克)     42410 non-null  float64
 4   lnso2           42410 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 1.9 MB